<!DOCTYPE html>
{% extends 'baseDetail.html' %}
{% load blog_template %}

{% block title %}Detail View{% endblock %}

{% block navBar %}
    {% navbar %}
{% endblock navBar %}

{% block content %}
    <div class='row'>
        <div class='col-xl-10'>
            <h2>{{post.title}}</h2>
            <p>
                <span class='text-uppercase'>By {{post.author}} | </span>
                <span class='fst-italic text-muted'>Published on {{post.publish}}</span>
            </p>
            <p>{{post.body}}</p>
        </div>
    </div>
{% endblock content %}

{% block shareButton %}
    <div>
        <h3>Share :)</h3>
        <div class="d-grid gap-2 mt-4">
            <a href="{% url "blog:share" post.id %}" role='button' class='btn btn-outline-primary'>Share By Email</a>
        </div>
    </div>
{% endblock shareButton %}

{% block shareForm %}
    <form action="" method="post">
        {% csrf_token %}    
        <div class="w-25 ms-2 mb-2">
            <label class="form-label">{{form.email.label}}</label>
            {{form.email}}
        </div>
        <div class="w-25 ms-2 mb-2">
            <label class="form-label">{{form.to.label}}</label>
            {{form.to}}
        </div>        
        <div class="w-25 ms-2 mb-2">
            <label class="form-label">{{form.message.label}}</label>
            {{form.message}} {% comment %} This will create the textarea {% endcomment %}
        </div> 
        <input type="submit" class="btn btn-outline-success mt-2 ms-2" value="SEND">
    </form>
{% endblock shareForm %}

{% block thankyou %}
    {% for message in messages %}
        {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{message}}.
            </div>
        {% endif %}
    {% endfor %}
{% endblock thankyou %}

{% block commentForm %}
{% comment %} https://stackoverflow.com/a/18962676 {% endcomment %}
<h5 class='mt-4'>Your Comment</h5>
    <form action="{{post.get_absolute_url}}" method="post">
        {% csrf_token %}    
        <div class="w-25 ms-2">
            <label class="form-label">{{form.name.label}}</label>
            {{form.name}}
        </div>
        <div class="w-25 ms-2">
            <label class="form-label">{{form.comment.label}}</label>
            {{form.comment}} {% comment %} This will create the textarea {% endcomment %}
        </div> 
        <input type="submit" class="btn btn-outline-success mt-3 ms-2" value="Add Comment">
    </form>
{% endblock commentForm %}

{% block comment %}
    <h5 class='mt-4'>Comments</h5>
    {% for comment in all_comments%}
        {{comment.name}} has commented {{comment.comment}}
        <br>
    {% empty %} 
    {% comment %} If all_comments is empty then show this line {% endcomment %}
        <p>Be the first to comment</p>
    {% endfor %}
{% endblock comment %}

{% block similarPosts %}
    <div class='mt-3'>
        {% if similar_posts %}
            <h3>You may like</h3>
            {% for similarPost in similar_posts %}
                <a href="{{similarPost.get_absolute_url}}">{{similarPost}}</a>
                <br>
            {% endfor %}
        {% endif %}    
    </div>
{% endblock similarPosts %}