<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>You are at home Page</h1>
    <!-- here 'app' is the string assigned to variable app_name in appurl.py -->
    <!-- 'pricing' is the "name" given to the url in appurl.py -->
    <a href="{% url 'app:pricing' %}">Pricing</a><br>
    <a href="{% url 'app:signin' %}">Signin</a><br>
    <a href="{% url 'admin:index' %}">Admin</a><br>
</body>
</html>