{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is Homepage</h1>
    <form action="/template/homepage/homepage.html" method="post">
        {% csrf_token %}
        <label for="task">What you want to do: </label>
        <input type="text" name="task" id="taskinput">
        <input type="button" value="Add Task" onclick="setTask()">
    </form>
    <div id="alltask"></div>
</body>
<script src="{% static 'homepage/functionalities.js'%}"></script>
</html>