{% comment %} <!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1>Email Sent</h1>
    <p>Some one requested to reset password for {{email}} follow the link</p>
    {{protocol}}://{{domain}}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock content %} {% endcomment %}

Someone asked for password reset for email {{ email }}. Follow the
link below:
{{ protocol }}://{{ domain }}{% url "account:password_reset_confirm" uidb64=uid token=token %}
Your username, in case you've forgotten: {{ user.get_username }}