<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <nav>
        <a href="{% url 'account:logout' %}">Logout</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:login' %}">Login</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:password_change' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:password_change_done' %}">Password Change Done</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:password_reset' %}">Password Reset</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:password_reset_done' %}">Password Reset Done</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:password_reset_complete' %}">Password Reset Complete</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:register' %}">Register</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:edit' %}">Edit Profile</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:info' %}">Info</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'user:upload' %}">Upload Post</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'user:dashboard' %}">Dashboard</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'user:user_list' %}">User List</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'action:feed' %}">Feeds</a>&nbsp;&nbsp;&nbsp;
    </nav>
    {% comment %} {% if message in messages %} {% endcomment %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
    {% block content %}{% endblock %}
    <br>
    USER - {{request.user}}
</body>
</html>