<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="admin/">Admin Panel</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'userauth:homepage' %}">Homepage</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if request.user.is_authenticated %}
            <a href="{% url 'userauth:logout' %}">Log Out</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'userauth:password-change' %}">Password Change</a>
        {% else %}
            <a href="{% url 'userauth:login' %}">Click to login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'userauth:registration' %}">Register as a new user</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <h3>Current User: {{request.user}}</h3>
    {{form.error}}
</body>
</html>